<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row m-b-24">
      <div class="col-sm-4 d-flex align-items-center">
        <h4 class="mat-subtitle-2 f-s-18 f-w-600">Estudiante #{{ student.id }}</h4>
      </div>
      <div class="col-sm-8 text-right">
        <button mat-stroked-button color="primary" (click)="onNoClick()">Volver</button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row p-y-24">
      <div class="col-sm-6">
        <span class="f-w-600 f-s-15 mat-body-1">Nombre Completo:</span>
        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">{{ student.fullName }}</h6>
      </div>
      <div class="col-sm-6 text-right">
        <span class="f-w-600 f-s-15 mat-body-1">Nivel:</span>
        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">{{ student.level }}</h6>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row p-y-24">
      <div class="col-sm-6">
        <span class="f-w-600 f-s-15 mat-body-1">Sección:</span>
        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">{{ student.section }}</h6>
      </div>
      <div class="col-sm-6 text-right">
        <span class="f-w-600 f-s-15 mat-body-1">Grado:</span>
        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">{{ student.grade }}</h6>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row p-y-24">
      <div class="col-sm-6">
        <span class="f-w-600 f-s-15 mat-body-1">Género:</span>
        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">{{ student.gender }}</h6>
      </div>
      <div class="col-sm-6 text-right">
        <span class="f-w-600 f-s-15 mat-body-1">Estado Actual:</span>
        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">{{ student.current ? 'Activo' : 'Inactivo' }}</h6>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row p-y-24">
      <div class="col-sm-6">
        <span class="f-w-600 f-s-15 mat-body-1">Apoderado:</span>
        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">{{ student.guardian?.fullName || 'Sin apoderado' }}</h6>
      </div>
      <div class="col-sm-6 text-right">
        <span class="f-w-600 f-s-15 mat-body-1">Vive con el estudiante:</span>
        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">{{ student.guardian?.livesWithStudent ? 'Sí' : 'No' }}</h6>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row p-y-24">
      <div class="col-sm-12">
        <span class="f-w-600 f-s-15 mat-body-1">Hermanos:</span>
        <ng-container *ngIf="student.siblings?.length; else noSiblings">
          <ul>
            <li *ngFor="let sibling of student.siblings">{{ sibling.fullName }}</li>
          </ul>
        </ng-container>
        <ng-template #noSiblings>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">Sin hermanos</h6>
        </ng-template>
      </div>
    </div>
  </mat-card-content>
</mat-card>
