<h2 mat-dialog-title>{{data.action}} Pago</h2>
<mat-dialog-content [formGroup]="paymentForm">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" appOnlyLetters maxlength="70"/>
    <mat-error *ngIf="paymentForm.controls['name'].hasError('required')">Nombre es requerido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Concepto</mat-label>
    <input matInput formControlName="concept" appOnlyLetters/>
    <mat-error *ngIf="paymentForm.controls['concept'].hasError('required')">Concepto es requerido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Monto</mat-label>
    <input matInput formControlName="amount" type="number" />
    <mat-error *ngIf="paymentForm.controls['amount'].hasError('required')">Monto es requerido</mat-error>
    <mat-error *ngIf="paymentForm.get('amount').hasError('min')">Monto debe ser mayor que cero</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Fecha de Pago</mat-label>
    <input matInput [matDatepicker]="paymentDatePicker" formControlName="paymentDate" appAutoFormatDate/>
    <mat-datepicker-toggle matSuffix [for]="paymentDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #paymentDatePicker></mat-datepicker>
    <mat-error *ngIf="paymentForm.controls['paymentDate'].hasError('required')">Fecha de Pago es requerida</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Fecha de Vencimiento</mat-label>
    <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate" appAutoFormatDate/>
    <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #dueDatePicker></mat-datepicker>
    <mat-error *ngIf="paymentForm.controls['dueDate'].hasError('required')">Fecha de Vencimiento es requerida</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-flat-button color="primary" [disabled]="!paymentForm.valid" (click)="doAction()">{{data.action}}</button>
</mat-dialog-actions>
