<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between">
      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            class="p-b-0"
            placeholder="Buscar por nombre o concepto"
            (keyup)="applyFilter($event)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm-8 text-end d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialog('Registrar', {})" color="primary">
          Registrar Pago
        </button>
        <button mat-flat-button (click)="openUploadDialog()" color="accent">
          Cargar Archivo
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="filteredPayments" class="w-100">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Nombre</th>
          <td mat-cell *matCellDef="let payment" class="f-s-14">{{ payment.name }}</td>
        </ng-container>

        <ng-container matColumnDef="concept">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Concepto</th>
          <td mat-cell *matCellDef="let payment" class="f-s-14">{{ payment.concept }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Monto</th>
          <td mat-cell *matCellDef="let payment" class="f-s-14">{{ payment.amount | currency }}</td>
        </ng-container>

        <ng-container matColumnDef="paymentDate">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Fecha de Pago</th>
          <td mat-cell *matCellDef="let payment" class="f-s-14">{{ payment.paymentDate | date:'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Fecha de Vencimiento</th>
          <td mat-cell *matCellDef="let payment" class="f-s-14">{{ payment.dueDate | date:'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Acciones</th>
          <td mat-cell *matCellDef="let payment">
            <button mat-icon-button color="primary" (click)="editPayment(payment)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deletePayment(payment.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
