.highlight-button {
    background-color: #2f94c0; 
    color: white; 
    font-weight: bold; 
    border-radius: 4px; 
    padding: 8px 16px; 
    transition: background-color 0.3s ease; 
  }
  
  .highlight-button:hover {
    background-color: #54bbc5; 
  }
  
  
  