<mat-dialog-content>
  <form [formGroup]="studentForm" class="form-container">
    <!-- Campos de entrada para datos del estudiante -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Nombre Completo</mat-label>
      <input matInput formControlName="fullName" placeholder="Ingrese el nombre completo del estudiante">
      <mat-error *ngIf="studentForm.get('fullName').errors?.['required']">Este campo es obligatorio.</mat-error>
      <mat-error *ngIf="studentForm.get('fullName').errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</mat-error>
      <mat-error *ngIf="studentForm.get('fullName').errors?.['maxlength']">El nombre no debe exceder los 100 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Nivel</mat-label>
      <mat-select formControlName="level">
        <mat-option value="inicial">Inicial</mat-option>
        <mat-option value="primaria">Primaria</mat-option>
        <mat-option value="secundaria">Secundaria</mat-option>
      </mat-select>
      <mat-error *ngIf="studentForm.get('level').errors?.['required']">Este campo es obligatorio.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Sección</mat-label>
      <input matInput formControlName="section" placeholder="Ingrese la sección">
      <mat-error *ngIf="studentForm.get('section').errors?.['required']">Este campo es obligatorio.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Grado</mat-label>
      <mat-select formControlName="grade">
        <mat-option value="3 años">3 años</mat-option>
        <mat-option value="4 años">4 años</mat-option>
        <mat-option value="5 años">5 años</mat-option>
        <mat-option value="1er grado">1er grado</mat-option>
        <mat-option value="2do grado">2do grado</mat-option>
        <mat-option value="3er grado">3er grado</mat-option>
        <mat-option value="4to grado">4to grado</mat-option>
        <mat-option value="5to grado">5to grado</mat-option>
        <mat-option value="6to grado">6to grado</mat-option>
      </mat-select>
      <mat-error *ngIf="studentForm.get('grade').errors?.['required']">Este campo es obligatorio.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Género</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="masculino">Masculino</mat-option>
        <mat-option value="femenino">Femenino</mat-option>
      </mat-select>
      <mat-error *ngIf="studentForm.get('gender').errors?.['required']">Este campo es obligatorio.</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="current">Estudiante Activo</mat-checkbox>

    <!-- Gestión de Hermanos -->
    <div formArrayName="siblings">
      <div *ngFor="let sibling of siblings.controls; let i = index" [formGroupName]="i">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Hermano {{ i + 1 }}</mat-label>
          <input type="text" matInput [matAutocomplete]="auto" formControlName="fullName">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let student of filteredStudents[i] | async" [value]="student.fullName">
              {{ student.fullName }}
            </mat-option>
          </mat-autocomplete>
          <button mat-icon-button matSuffix aria-label="Eliminar hermano" (click)="removeSibling(i)">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button mat-button class="highlight-button" (click)="addSibling()">Agregar Hermano</button>
    </div>
    <br>
    <!-- Datos del Guardián -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Nombre del Guardián</mat-label>
      <input matInput formControlName="guardianName" placeholder="Ingrese el nombre del guardián" [matAutocomplete]="guardianAuto">
      <mat-autocomplete #guardianAuto="matAutocomplete">
        <mat-option *ngFor="let guardian of filteredGuardians | async" [value]="guardian.fullName">
          {{ guardian.fullName }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="studentForm.get('guardianName').errors?.['required']">Este campo es obligatorio.</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="guardianLivesWithStudent">El guardián vive con el estudiante</mat-checkbox>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancelar</button>
  <button mat-button class="highlight-button" color="primary" (click)="onSave()" [disabled]="!studentForm.valid">{{ action === 'Agregar' ? 'Registrar' : 'Actualizar' }}</button>
</mat-dialog-actions>
