<div class="row">
  <!-- Primer Card: Filtros de Búsqueda -->
  <div class="col-12 mb-3">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <div class="row align-items-center">
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Buscar estudiante</mat-label>
              <input matInput placeholder="Nombre" (input)="applyFilter()" [(ngModel)]="filterValues.fullName">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nivel</mat-label>
              <mat-select (selectionChange)="applyFilter()" [(ngModel)]="filterValues.level">
                <mat-option value="">Todos</mat-option>
                <mat-option value="inicial">Inicial</mat-option>
                <mat-option value="primaria">Primaria</mat-option>
                <mat-option value="secundaria">Secundaria</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Grado</mat-label>
              <mat-select (selectionChange)="applyFilter()" [(ngModel)]="filterValues.grade">
                <mat-option value="">Todos</mat-option>
                <mat-option value="3 años">3 años</mat-option>
                <mat-option value="4 años">4 años</mat-option>
                <mat-option value="5 años">5 años</mat-option>
                <mat-option value="1er grado">1er grado</mat-option>
                <mat-option value="2do grado">2do grado</mat-option>
                <mat-option value="3er grado">3er grado</mat-option>
                <mat-option value="4to grado">4to grado</mat-option>
                <mat-option value="5to grado">5to grado</mat-option>
                <mat-option value="6to grado">6to grado</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3 d-flex justify-content-end">
            <button mat-button class="clear-filters-button same-size-button" (click)="clearFilters()">Limpiar Filtros</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Segundo Card: Exportar a Excel y Registrar Estudiante -->
  <div class="col-12">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <div class="row align-items-center justify-content-between">
          <div class="col-md-8 d-flex align-items-center">
            <mat-checkbox [(ngModel)]="filterValues.exportSiblingsOnly" class="highlighted-checkbox me-3">¿Exportar solo hermanos?</mat-checkbox>
            <button mat-flat-button (click)="exportToExcel()" color="primary" class="export-button">
              Exportar a Excel
            </button>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
            <button mat-flat-button (click)="openStudentDialog('Registrar')" color="primary" class="highlight-button same-size-button">
              Registrar Estudiante
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<div class="col-12">
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="full-width-table">
          <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef class="boton"> Foto </th>
            <td mat-cell *matCellDef="let element" class="photo-cell">
              <div class="photo-container">
                <img *ngIf="element.gender?.toLowerCase() === 'masculino'" src="assets/images/profile/user6.jpg" class="profile-img">
                <img *ngIf="element.gender?.toLowerCase() === 'femenino'" src="assets/images/profile/user3.jpg" class="profile-img">
              </div>
            </td>
          </ng-container>
    

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef class="boton"> Nombre </th>
      <td mat-cell *matCellDef="let element" class="text-wrap"> {{element.fullName}} </td>
    </ng-container>

    <ng-container matColumnDef="siblings">
      <th mat-header-cell *matHeaderCellDef class="boton">  Hermanos </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.siblingName !== 'No tiene hermanos'; else noSibling">Tiene</span>
        <ng-template #noSibling>No tiene</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="guardian">
      <th mat-header-cell *matHeaderCellDef class="boton"> Guardián </th>
      <td mat-cell *matCellDef="let element" class="text-wrap">
        {{ element.guardian?.fullName || 'Sin guardián' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="boton"> Acciones </th>
      <td mat-cell *matCellDef="let element" class="action-icons">
        <button mat-icon-button color="primary" (click)="openStudentDialog('Actualizar', element)" aria-label="Editar estudiante">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteStudent(element.id)" aria-label="Eliminar estudiante">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="openStudentDetailsDialog(element)" aria-label="Ver detalles del estudiante">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>