::ng-deep .small-icon {
  font-size: 12px !important;  
} 
  .profile-img {
    margin-bottom: 5px; 
  }
  
  .button-group button {
    margin-right: 12px; 
    margin-top: 15px; 
  }
  
  .bg-light-success {
    margin-top: 10px;
  }

   .guardian{
    padding-left: 24px; 
    padding-right: 24px;
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 3px;
    }

    .text-danger {
        color: rgb(195, 8, 8); 
    }
    .bg-light-success {
      background-color: #dff0d8; 
      padding-left: 24px; 
      padding-right: 24px;
      font-weight: 600; 
      padding-top: 3px; 
      padding-bottom: 3px;
    }

    .bg-light-danger{
        background-color: rgb(254, 223, 223);
        padding-left: 24px; 
        padding-right: 24px;
        font-weight: 600; 
        padding-top: 3px; 
        padding-bottom: 3px;
    }

    .clear-filters-button {
      background-color: #e86960; 
      color: white; 
      margin-right: 2px;
    }
    

   .filter-button {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    
    .filter-button.active {
      background-color: #007bff;
      color: #fff;
    }
    
    .export-button {
      background-color: #54adba;
      color: #fff;
      margin-left: 20px;
    }
    
    .student-card {
      margin-bottom: 20px;
    }
    
    .student-card-content {
      position: relative;
    }
    
    .profile-img {
      margin-bottom: 10px;
    }
    
    .card-title {
      font-size: 1.2em;
    }
    
    .button-group {
      display: flex;
      justify-content: center;
    }

    .bg-light-success {
      background-color: #d4edda;
    }
    
    
    .bg-light-danger {
      background-color: #f8d7da;
    }
    
    .same-size-button {
      min-width: 160px; 
    }


    .mat-cell {
      display: flex;
      align-items: center; 
      justify-content: center; 
    }

    .profile-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 auto; 
    }
    .mat-header-cell {
      font-weight: bold;
    }


    .text-wrap {
      white-space: normal; 
      word-wrap: break-word; 
      max-width: 160px; 
    }
    .action-icons {
      display: flex;
      justify-content: center; 
      width: 100%; 
    }


    
    .mat-elevation-z8 {
      border-radius: 8px; 
      overflow: hidden; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }
    .mat-header-row {
      background-color: #e7f5ff; 
    }
    .boton{
      text-align: center;  
      font-weight: bold;

    }
    .mat-header-cell {
      font-family: 'Roboto', sans-serif; /* Asegura que el tipo de letra sea uniforme */
      font-weight: bold; /* Texto en negrita */
    }
   /* Aplica Roboto a todo el contenido dentro de mat-card-content */
.mat-card-content {
  font-family: 'Roboto', sans-serif;
}
 