  
  .profile-img {
    margin-bottom: 5px; /* Espacio adicional debajo de la imagen */
  }
  
  .button-group button {
    margin-right: 12px; /* Espacio entre botones */
    margin-top: 15px; /* Espacio adicional encima de los botones */
  }
  
  .bg-light-success {
    margin-top: 10px; /* Espacio adicional encima de los estados */
  }

   .guardian{
    padding-left: 24px; 
    padding-right: 24px;
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 3px;
    }

    .text-danger {
        color: rgb(195, 8, 8); 
    }
    .bg-light-success {
      background-color: #dff0d8; 
      padding-left: 24px; 
      padding-right: 24px;
      font-weight: 600; 
      padding-top: 3px; 
      padding-bottom: 3px;
    }

    .bg-light-danger{
        background-color: rgb(254, 223, 223);
        padding-left: 24px; 
        padding-right: 24px;
        font-weight: 600; 
        padding-top: 3px; 
        padding-bottom: 3px;
    }