<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between align-items-center">
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Buscar nombre</mat-label>
          <input matInput placeholder="Nombre" (input)="applyFilter()" [(ngModel)]="filterValues.fullName">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Nivel</mat-label>
          <mat-select (selectionChange)="applyFilter()" [(ngModel)]="filterValues.level">
            <mat-option value="">Todos</mat-option>
            <mat-option value="inicial">Inicial</mat-option>
            <mat-option value="primaria">Primaria</mat-option>
            <mat-option value="secundaria">Secundaria</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Grado</mat-label>
          <mat-select (selectionChange)="applyFilter()" [(ngModel)]="filterValues.grade">
            <mat-option value="">Todos</mat-option>
            <mat-option value="3 años">3 años</mat-option>
            <mat-option value="4 años">4 años</mat-option>
            <mat-option value="5 años">5 años</mat-option>
            <mat-option value="1er grado">1er grado</mat-option>
            <mat-option value="2do grado">2do grado</mat-option>
            <mat-option value="3er grado">3er grado</mat-option>
            <mat-option value="4to grado">4to grado</mat-option>
            <mat-option value="5to grado">5to grado</mat-option>
            <mat-option value="6to grado">6to grado</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4 text-end d-flex align-items-center justify-content-between">
        <button mat-button class="clear-filters-button" (click)="clearFilters()">Limpiar Filtros</button>
        <button mat-flat-button (click)="openStudentDialog('Registrar')" color="primary" class="highlight-button">
          Registrar Estudiante
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let student of dataSource.filteredData">
    <mat-card class="cardWithShadow">
      <mat-card-content class="text-center student-card-content">
        <img *ngIf="student.gender?.toLowerCase() === 'masculino'"
             src="assets/images/profile/user6.jpg"
             class="rounded-circle border profile-img"
             width="100">
        <img *ngIf="student.gender?.toLowerCase() === 'femenino'"
             src="assets/images/profile/user3.jpg"
             class="rounded-circle border profile-img"
             width="100">
        <h4 mat-card-title class="card-title mt-16 mb-0">
          {{ student.fullName }}
        </h4>
        <br>
        <span class="fs-12">
          <span *ngIf="student.siblingName !== 'No tiene hermanos'; else noSibling" class="bg-light-success text-success border-success rounded fw-600 px-6 py-4 fs-12">
            {{ student.siblingName }}
          </span>
          <ng-template #noSibling>
            <span class="bg-light-danger text-danger border-danger rounded fw-600 px-6 py-4 fs-12">Sin hermanos</span>
          </ng-template>
        </span>
        <br> <br>
        <span *ngIf="student.guardianName !== 'No tiene apoderado'; else noGuardian" class="guardian rounded fw-600 px-6 py-4 fs-12">
          Guardián: {{ student.guardianName }}
        </span>
        <ng-template #noGuardian>
          <span class="text-danger">Sin guardián</span>
        </ng-template>
        <div class="button-group mt-20">
          <button mat-flat-button type="button" class="mr-8" color="primary" (click)="openStudentDialog('Actualizar', student)">Editar</button>
          <button mat-flat-button type="button" color="warn" (click)="deleteStudent(student.id)">Eliminar</button>
          <button mat-flat-button type="button" color="accent" (click)="openStudentDetailsDialog(student)">Ver</button>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
    </mat-card>
  </div>
</div>
